# Core App Framework
streamlit

# Data Handling
pandas
numpy

# NLP and ML Libraries
nltk
spacy==3.7.4 # Pinned to ensure model compatibility
arxiv
faiss-cpu
torch # No +cpu tag for better compatibility
sentence-transformers
bertopic

# SpaCy Model Download (must be compatible with spacy==3.7.4)
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
